<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <h1 class="logo">Trivadis Dashboard</h1>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav [mode]="'side'" class="sidenav" #sidenav [opened]="true">
    <!-- <a [routerLink]="['./sales']">Sales</a><br />
    <a [routerLink]="['./systems']">Systems</a><br /> -->
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
